<h1>short url</h1>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h4>Input URL to make short</h4>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <%= form_with model: Url.new do |form|%>
        <%= form.text_field :url, placeholder: 'enter URL' %>
        <%= form.submit %>
      <% end%>
    </div>
  </div>
</div>
